<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Reveal Estate About</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Reveal Estate</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/process">Process</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <section style='background-image: url("../static/img/road.jpg"); height:600px; width:1300px' id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-24 text-center">
                    <h1 style='color:white; font-size:80px' class='text-primary'><br /><br />About Reveal Estate</h1>
                    <hr style='color:black'>
                </div>
            </div>
        </div>
    </section>

    <div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">My Project - The Basics</h2>
      <p class="lead">The goal of my capstone project - Reveal Estate - is to algorithmically group houses into 'nests' of relevant comps. By taking the purely geographically based zones that Privy already made, and finding the patterns that they used, my algorithm is able to categorize new data. It's even capable of getting data from a totally new city, with different streets and features and create house nests from scratch.</p>
      <p><a class="btn btn-default" href="/process" role="button">Find out more &raquo;</a></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="../static/img/20002_zones.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="../static/img/logo_galvanize.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Galvanize</h2>
      <p>The Galvanize data science immersive is a 13 week coding bootcamp. Students experience modules covering data science fundementals, machine learning, natural language processing and complete a capstone project.</p>
      <p><a class="btn btn-default" href="https://new.galvanize.com/denver/data-science" role="button">Check them out &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="../static/img/logo_MLS.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>MLS Data</h2>
      <p>Multiple Listing Service is a database of organized house/apartment data. This is where Privy gets there data from.</p>
      <p><a class="btn btn-default" href="http://www.mls.com" role="button">Data &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="../static/img/logo_privy2.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Privy</h2>
      <p>Privy is a real estate investment data company that provides real time market analysis for investors. Their customizable software marks houses that are great investment opportunities.</p>
      <p><a class="btn btn-default" href="http://getprivynow.com" role="button">Check them out &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <section class="bg-dark" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading"><br /></h2>
                  <hr class="light">
                  <p class="text-faded"><br /><br /></p>
              </div>
          </div>
      </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top   </a></p>
    <p>   &middot; Taylor Andrews &middot; 2017 &middot;</p>
  </footer>


</div><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="../static/js/holder.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
