<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Reveal Estate Contact</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Reveal Estate</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/process">Process</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <section style='background-image: url("../static/img/mountain.jpg"); height:300px; width:2300px' id="services">
    </section>

  <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Taylor Andrews</h2>
          <p class="lead"><br />Data scientist with passions for efficiency, organization and the environment. Academic background in mathematics, finance and economics. <br /><br />Has tackled complex problems in data science ranging from those involving standard statistical analysis to others involving natural language processing, web scraping and advanced machine learning. Constantly looking for challenging academic and professional learning experiences.</p>
        </div>
        <div class="col-md-5">
         <p><br /><br /></p>
          <img class="featurette-image img-responsive center-block" src="../static/img/boat.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../static/img/linkedin.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>LinkedIn</h2>
          <p><br /></p>
          <p><a class="btn btn-default" href="/process" role="button">Connect now &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="../static/img/phone.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>Contact</h2>
          <p><br />Email: twandrews@me.com<br />Phone: (303) 324-4465</p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="../static/img/github.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>GitHub</h2>
          <p><br /></p>
          <p><a class="btn btn-default" href="/process" role="button">See my code &raquo;</a></p>
        </div>
      </div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top   </a></p>
        <p>   &middot; Taylor Andrews &middot; 2017 &middot;</p>
      </footer>

</div><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="../static/js/holder.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
